body{

text-rendering: optimizeLegibility;
height: 460px;
font: 15px 'Roboto';
margin: 0px;
padding:0px;
overflow: hidden; 


}
.container{
border-left-style: solid;
border-left-width: 2px;
border-color: #4285f4;
border-right-style: solid;
border-right-width: 2px;
border-bottom-style: solid;
border-bottom-width: 2px;
transition: border-color 4.5s ease;
}
#main{
text-transform: capitalize;
}
@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto-Medium.ttf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}



#header-wrap{

position:relative;
top:0px;
height:50px;
display:block;
width:100%;
box-shadow: 0 0 2px rgba(0, 0, 0, 0.14), 2px 2px 4px rgba(0, 0, 0, 0.28);
background-color:#4285f4;
transition: background-color 8s ease;
}

#actionbar {
	position: relative;
	left:55px;
	right:0px;
	width: 245px;
  height: 50px;
	text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
	}

#header {
 
	width:50px;
	font-size: 23px;
	color: white;
	white-space: nowrap;
	
}
#artist_name{
  padding-top: 3px;
	font-size: 13px;
	color: white;
	white-space: nowrap;
}

.img-holder {
position: fixed;
left: 0px;
top:0px;
width:55px;
height:50px;

    }
	
	.img-holder img {
    position:relative; 
	width:55px;
    height:50px;
    }

#search{

	fill:white;
	margin-left: auto;
    margin-right: auto;
position: fixed;

width:50px;
height:50px;
top:0px;
right:0px;
}

#circle{
    margin-right: 2px;
    margin-top: 10px;
    display: inline-flex;
    cursor: pointer;
    top:0px;
    right:0px;
    position: fixed;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    width:30px;
    height:30px;
    border-style:solid;
    border-width:2px;
    border-color:white;

}

#svg{
display: inline-flex;
cursor: pointer;
  margin-left: 21px;
  margin-top: 13px;
}

.searchText {

position: fixed;
top:45px;
right:0px;
background-color: black;
color :white;

    border: 1px solid #ccc;
  display: none;
  font-size: 10px;
  margin-top: 12px;
  padding: 5px;
  text-transform: uppercase;
}

#circle:hover{
opacity:0.6;
}

#svg:hover  .searchText {
  display:block;
}


#frame
{
  transition: all 0.5s ease;
}

.scrollbar
{	
  transition: all 0.5s ease;
	top:50px;
	width: 100%;
	float: left;
	margin-bottom: auto;
	overflow:hidden;
	text-align: center;
	margin-bottom: auto;
	font-size: 15px;
	position: fixed;
	display: block;
	text-decoration: none;
	box-sizing: border-box;
	line-height: 1.7;
	user-select: none;
	position: fixed;
	font-weight: 400;
}



.spinner_container{
	
	align-content: center; 
  top:50px;
  opacity:0.85;
  background:white;
  height:410%;
  width:100%;
  position:fixed;
  text-align: center;
  
}

.imp_container{
  
  align-content: center; 
  display:none;
  top:50px;
  opacity:0.9;
  background:white;
  height:410px;
  width:100%;
  position:fixed;
   margin: 0 auto;
  text-align: center;
}

#guide{
font: 22px;
text-align: center;
margin: 0 auto;
}

#imp{
  top:10px;
  position: relative;
  font: 22px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.14), 2px 2px 4px rgba(0, 0, 0, 0.28);
  width: 90% ;
    height: 100px;
  background-color:#4285f4;
  margin: 0 auto;
  text-align: center;
  color:white;
}


.svg-loader{

  
  height: 40vmin;
  padding: 3vmin 20vmin;
  vertical-align: top;
}






.popup {
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.14), 2px 2px 4px rgba(0, 0, 0, 0.28);  
	border-style: solid;
    border-width: 1px;
	border-color: #4285f9;
    position:fixed;
    opacity:0.95;
    top:50px;
    right:0px;  
    margin:auto;
    width:100%;
    height:408px;
    padding:10px;
    background-color:rgb(255,255,255);
    z-index:100000000000000000;
}



.btn {
  position: fixed;

  display: block;
  padding: 0;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  
  background-color: #2ecc71;
  color: #ecf0f1;
  
  transition: background-color .3s;
}

.btn:hover, .btn:focus {
  background-color: #27ae60;
}

.btn > * {
  position: relative;
}

.btn span {
  display: block;
  padding: 8px 16px;
}

.btn:before {
  content: "";
  
  position: absolute;
  top: 50%;
  left: 50%;
  
  display: block;
  width: 0;
  padding-top: 0;
    
  border-radius: 100%;
  
  background-color: rgba(236, 240, 241, .3);
  
  -webkit-transform: translate(-50%, -50%);
 
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;
  
  transition: width .2s ease-out, padding-top .2s ease-out;
}

/* Styles, not important */
*, *:before, *:after {
  box-sizing: border-box;
}




.group 			  { 

  position:relative; 
  color: #4285f4;
}




input 				{
  height:35px;
  font-size:18px;
  display:block;
  width:100%;
  -webkit-appearance: textfield;
  padding: 1px;
  background-color: white;
  cursor: auto;
}




/**
 * Tooltips!
 */

/* Base styles for the element that has a tooltip */
[data-tooltip],
.tooltip {
  position: fixed;
  cursor: pointer;
}

/* Base styles for the entire tooltip */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after {
  position: absolute;
  visibility: hidden;

  opacity: 0;
  -webkit-transition: 
      opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        -webkit-transform 0.1s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after {
  visibility: visible;
  opacity: 1;
}

/* Base styles for the tooltip's directional arrow */
.tooltip:before,
[data-tooltip]:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: "";
}

/* Base styles for the tooltip's content area */
.tooltip:after,
[data-tooltip]:after {
  z-index: 1000;
  padding: 8px;
  width: 160px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 1);
  color: #fff;
  content: attr(data-tooltip);
  font-size: 14px;
  line-height: 1.2;
  margin-left: -90px;
}


.tooltip-bottom:before,
.tooltip-bottom:after {
  top: 100%;
  bottom: auto;
  left: 50%;
}

.tooltip-bottom:before {
  margin-top: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-bottom-color: #000;
  border-bottom-color: hsla(0, 0%, 20%, 1);
}

.tooltip-bottom:hover:before,
.tooltip-bottom:hover:after,
.tooltip-bottom:focus:before,
.tooltip-bottom:focus:after {
  -webkit-transform: translateY(2px);
  -webkit-transform: translateX(0px);
}